server:
  port: 8085

spring:
  application:
    name: file-service

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  tracing:
    sampling:
      probability: 1.0

logging:
  level:
    root: INFO
    vn.hoidanit.fileservice: DEBUG
  file:
    name: logs/file-service.log

# File storage configuration
file:
  upload-dir: ./storage

